* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	padding: 2rem;
	border-radius: 8px;
	text-align: center;
	gap: 1.5rem;
	align-items: center;
}

h1 {
	font-size: 1.8rem;
	color: #333;
}

.wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.container {
	display: flex;
	gap: 0.5rem;
	width: 100%;

	@media (max-width: 400px) {
		flex-direction: column;
	}
}

input[type="text"] {
	width: 100%;
	padding-inline: 0.5rem;
	height: 2.2rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="text"]:focus {
	border-color: #007bff;
	outline: none;
}
input[type="text"]:focus-within {
	outline: 3px #007bff3e solid;
}

.movie-title {
	flex: 2;
}
.movie-year {
	flex: 1;
}

@media (max-width: 400px) {
	.movie-title,
	.movie-year {
		flex: none; /* or flex: 0 0 auto */
		width: 100%;
	}
}

button {
	padding-inline: 1rem;
	height: 2.2rem;
	font-size: 1rem;
	background: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	width: 100%;
}

button:hover {
	background: #005fcc;
}

button:focus-within {
	outline: 3px #007bff3e solid;
	outline-offset: 2px;
}

.movie {
	margin: 12px 0;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.movie img {
	max-width: 100%;
	border-radius: 4px;
}

.error {
	color: red;
}

.movie-list {
	display: flex;
	gap: 2rem;
}
